<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  
  <title>Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  
<!--  <th:block th:insert="Header.html"></th:block>-->

		<table border="1">
			<thead>
				<tr>
					<th colspan="6">Website Name</th>
					
				</tr>
			
			</thead>
			
			<tbody>
				<tr>
					<td rowspan="4">Menu</td>
					<td rowspan="4" colspan="4">You can write your main content here</td>
					<td rowspan="4">ADVT</td>
				</tr>
				
				<tr>
					
					<td colspan="6">Footer</td>
				</tr>
			
			</tbody>
		</table>

</body>
</html>